
body{
 
}

.top{
    background-color: #682444;
    
    height: 50px;
    margin:auto;
}

.menu{
    position: relative;
    
}

.main-section{
    margin: 150px auto;
    
    padding: 0;
}

.tabla{
    position: relative;
    margin-bottom: 50%;
    background-color: red;

}

thead{
    background-color: #682444;
    color: white;
}

.modal-content#modal{
    
    opacity: .85;
    padding: 25px 20px;
    box-shadow: 0px 0px 3px #cfc9c9;

    background-color: #dedfe0;
    
}

/*
.container{
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 20px;

}



.bar1, .bar2, .bar3{
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    
}

.header h4{
    margin: -30px auto;
    text-align: center;
    font-size: 30px;
    color: white;
}

/*Se rota la primer barra
.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9x, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/*Se esconde la segunda barra
.change .bar2{
    opacity: 0;
}

/*Se rota la tercer barra

.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8x, 8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*Estilo del menu despegable >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><

.menu{
    background-color: rgb(208, 211, 212);
    position: fixed;
    margin-top: 50px ;
    width: 200px;
    height: 100%;

}

.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(208, 211, 212);
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: "Font Awesome\ 5 free";
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link 
  .sidebar a {
    background-color: ;
    color: black;
  }
  
  /* Links on mouse-over 
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }




*/